*node_modules*
**/*/dist/*
# Ignore virtual environment folders
venv/
.env/
*.env

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore package manager directories
.pip/
*.egg-info/
*.dist-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python wheels and other distribution artifacts
*.egg
*.whl
