
PORT=YOUR_VALUE_HERE
ENV=YOUR_VALUE_HERE
NODE_ENV=YOUR_VALUE_HERE
PRINT_CONFIG=YOUR_VALUE_HERE
ELASTICSEARCH_PATH=YOUR_VALUE_HERE
KIBANA_PATH=YOUR_VALUE_HERE
OPEN_AI_SECRET=YOUR_VALUE_HERE
TOGETHER_API_KEY=YOUR_VALUE_HERE
DB_CONNECTION_STRING_LOCAL_DOCKER=YOUR_VALUE_HERE
DB_CONNECTION_STRING_LOCAL=YOUR_VALUE_HERE
ANALYTICS_DB_CONNECTION_STRING_PROD=YOUR_VALUE_HERE
ANALYTICS_DB_CONNECTION_STRING_LOCAL=YOUR_VALUE_HERE
SWAGGER_URL=YOUR_VALUE_HERE
SWAGGER_RELATIVE_URL=YOUR_VALUE_HERE
SWAGGER_REMOTE_SERVER=YOUR_VALUE_HERE
SWAGGER_STAGE_SERVER=YOUR_VALUE_HERE
JWT_SECRET=YOUR_VALUE_HERE
DB_SERVER_SELECTION_TIMEOUT_MILLS=YOUR_VALUE_HERE
DB_CONNECT_TIMEOUT_MILLS=YOUR_VALUE_HERE
JWT_COOKIE_NAME=YOUR_VALUE_HERE
JWT_EXP_TIME=YOUR_VALUE_HERE
ELASTIC_SEARCH_URL_LOCAL=YOUR_VALUE_HERE
ELASTIC_SEARCH_URL_LOCAL_DOCKER=YOUR_VALUE_HERE
ELASTIC_SEARCH_ENV=YOUR_VALUE_HERE
BONSAI_ES_ACCESS_KEY=YOUR_VALUE_HERE
BONSAI_ES_ACCESS_SECRET=YOUR_VALUE_HERE
BONSAI_ES_URL=YOUR_VALUE_HERE
OPENAI_API_KEY=YOUR_VALUE_HERE
CLIENT_APP_URL=YOUR_VALUE_HERE
ZENDESK_TOKEN=YOUR_VALUE_HERE
ZENDESK_URL=YOUR_VALUE_HERE
ZENDESK_USERNAME=YOUR_VALUE_HERE
ZENDESK_TOKEN_BW=YOUR_VALUE_HERE
ZENDESK_URL_BW=YOUR_VALUE_HERE
ZENDESK_WEBHOOK_TOKEN=YOUR_VALUE_HERE
PYTHON_ML_SERVICE_URL=YOUR_VALUE_HERE
QDRANT_API_KEY=YOUR_VALUE_HERE
QDRANT_API_URL=YOUR_VALUE_HERE
ATLAS_PASSWORD=YOUR_VALUE_HERE
ATLAS_USERNAME=YOUR_VALUE_HERE
ATLAS_CONNECTION_STRING=YOUR_VALUE_HERE